<!doctype html>
<html>
	<head>
		<link href="Master.css" rel="stylesheet" type="text/css"/>
		<link rel="shortcut icon" href="images/AHClogo_small.ico"/>
		<link href="https://fonts.googleapis.com/css?family=Mitr" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="keywords" content="Alyce Hatch,special needs,early childhood,special education,developmental delays,preschool">
		<title>Home</title>
	</head>
	<body>
		<div class="Container">
			<div class="Header">
				<div class="HImg">
					<a href="index.htm"><img src="images\AHClogo_big.jpg"></a>
				</div>
				<div id="h1h2">
					<h1>We cherish every achievement</h1>
					<h2>Welcome to the Alyce Hatch Center</h2>
				</div>
			</div>
			<div class="Menu">
				<nav>
					<ul class="navbar">
						<li><a href="programs.htm">Programs</a></li>
						<li><a href="donations.htm">Donations</a></li>
						<li><a href="volunteering.htm">Volunteering</a></li>
						<li><a href="testimonials.htm">Testimonials</a></li>
						<li><a href="history.htm">History</a></li>
						<li><a href="bod.htm" style="font-size:13px;">Board of Directors</a></li>
						<li><a href="contact.htm">Contact Us</a></li>
					</ul>
				</nav>
			</div>
			<div class="LeftBody">
			</div>
			<div class="RightBody">
			</div>
			<div class="Footer">
			</div>
		</div>
	</body>
</html>